body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: aliceblue;
}
#link {
    display: flex;
    justify-content: center;
}

.main-link {
    text-decoration: none;
    min-width: 100px;
    min-height: 150px;
    border: 3px solid black;
    border-radius: 20px;
    margin: 70px 50px;
    padding: 35px;

    align-content: center;
    text-align: center;
    
    font-size: larger;
    color: black;
}

.main-link:hover {
    animation: large-font .7s forwards;
    transform: translateY(-10px);
}

@keyframes large-font {
    0% {
        font-size: larger;
    }
    20% {
        color: #ffffff;
    }
    100% {
        font-size: x-large;
        color: #ffffff;
        background: rgba(74, 74, 74, 0.644);
        border-color: rgba(74, 74, 74, 0.644);
    }
}


/* source button */
.source-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 8px 15px;
    background-color: #4a4a4a;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.source-btn:hover {
    transform: scale(1.05);
    transform: translateY(-10px);
}