body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: aliceblue;
}

.main-link {
    display: block;
    text-decoration: none;
    width: 320px;
    height: 30px;
    border: 3px solid #2dc7ff;
    border-radius: 20px;
    margin: 15px auto;
    align-content: center;
    text-align: justify;
    font-size: larger;
    padding: 5px 5px 5px 15px;
    background: #ffffff;
}

.main-link:hover {
    animation: large-font .7s forwards;
    transform: translateX(65px);
}

@keyframes large-font {
    0% {
        font-size: larger;
    }
    20% {
        color: #ffffff;
    }
    100% {
        font-size: x-large;
        color: #ffffff;
        background: rgba(74, 74, 74, 0.644);
        border-color: rgba(74, 74, 74, 0.644);
    }
}