body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color:#f7f8fa;
}    

.nmb { margin-bottom: 0; }
.html { background: #f46323; }
.css { background: #2662b6; }
.js { background: #fcd421; }



/* LINKS */
#link {
    display: flex;
    justify-content: center;
}    

/* SERIES BUTTONS */
.card-link {
    border: 3px solid black;
    border-radius: 20px;
    margin: 70px 50px;
    transition: transform 0.3s ease-in-out;
}    

.text {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    color: black;
    font-size: 24px;
    font-weight: bold;

    transform: scale(0.6);
    opacity: 0;
    transition: 0.4s;
}
.card {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 15px;
}
.card img {
    max-height: 140px;
    min-width: 250px;
}
.card-link:hover {
    transform: translateY(-10px);
}
.card:hover img {
    transform: scale(1.2);
    opacity: 0.4;
}
.card:hover .text {
    transform: scale(1);
    opacity: 1;
}



.src-code-link {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.src-code-link img {
    max-height: 80px;
    min-width: 240px;
    border-radius: 20px;
}

.src-code-link:hover {
    transform: scale(.95);
}